*{
  margin: 0;
  padding: 0;

}

ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    position: fixed;
    top: 0;
    width: 100%;
}

ul li{
  display: inline;
  float: right;
}

ul li a{
  font-family:monospace;
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding:14px 16px;
}
